@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main {
    @apply bg-slate-800 w-screen h-screen text-white flex
  }

  /* Form styles */
  .input-group  {
    @apply flex flex-col gap-1
  }
  .input {
    @apply py-1 px-2 text-slate-700 rounded-sm outline-none bg-zinc-100 focus:outline-2 focus:outline-offset-4 focus:outline-teal-200/75
  }
  .input-error {
    @apply text-red-400 font-light
  }
}

.loader {
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}